<form class="row ">
    <div class="card flex justify-content-center col-12 gap-4">
        <p-floatLabel >
            <input pInputText name="name" id="name"  />
            <label for="name">name</label>
        </p-floatLabel>

        <p-floatLabel>
            <input pInputText name="color"  id="username"  />
            <label for="color">color</label>
        </p-floatLabel>
    </div>
    <div class="card flex justify-content-center col-6">
        <p-floatLabel>
            <input pInputText name="price" type="number"  id="price"  />
            <label for="price">price</label>
        </p-floatLabel>
    </div>
    <div class="card flex justify-content-center col-6">
        <p-floatLabel>
            <input pInputText name="price"  id="price"  />
            <label for="price">price</label>
        </p-floatLabel>
    </div>
    <div class="card flex justify-content-center">
        <p-dropdown 
            [options]="" 
            optionLabel="name"
            placeholder="Select a Model" />
    </div>
</form>

