<form class="row p-x-4">
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>model </mat-label>
            <input name="" type="text" matInput placeholder="model">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>color </mat-label>
            <input name="" type="text" matInput placeholder="color">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>year </mat-label>
            <input name="" type="date" matInput placeholder="year">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6">
            <mat-label>price </mat-label>
            <input name="" type="number" matInput placeholder="price">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <button class="btn col-3 m-l-8" >Submit</button>
</form>

