<div class="w-100 flex justify-between align-center bg-white p-x-8 r-4 ">
    <h1 class="f-s-20">Vehicles</h1>
    <div>
        <button (click)="sidebarVisible = true" class="btn">Create Vehicles</button>
    </div>
</div>


<p-sidebar class="z-max" [(visible)]="sidebarVisible" position="right" styleClass="w-50"  >
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <!-- <p-avatar 
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                shape="circle" /> -->
            <span class="font-bold">
                Create Brand
            </span>
        </div>
    </ng-template>
    <app-side-bar ></app-side-bar>
</p-sidebar>


